*.class
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

tomcat.8080/
target/classes

target/maven-archiver/pom.properties
target/repo/com/google/code/gson/gson/maven-metadata-appassembler.xml
target/repo/com/heroku/sample/embeddedTomcatSample/1.0-SNAPSHOT/embeddedTomcatSample-1.0-SNAPSHOT.jar
target/repo/com/heroku/sample/embeddedTomcatSample/1.0-SNAPSHOT/maven-metadata-appassembler.xml
target/repo/com/heroku/sample/embeddedTomcatSample/maven-metadata-appassembler.xml
target/repo/commons-codec/commons-codec/maven-metadata-appassembler.xml
target/repo/commons-io/commons-io/maven-metadata-appassembler.xml
target/repo/commons-lang/commons-lang/maven-metadata-appassembler.xml
target/repo/commons-logging/commons-logging/maven-metadata-appassembler.xml
target/repo/org/apache/httpcomponents/httpclient/maven-metadata-appassembler.xml
target/repo/org/apache/httpcomponents/httpcore/maven-metadata-appassembler.xml
target/repo/org/apache/httpcomponents/httpmime/maven-metadata-appassembler.xml
target/repo/org/apache/tomcat/embed/tomcat-embed-core/maven-metadata-appassembler.xml
target/repo/org/apache/tomcat/embed/tomcat-embed-el/maven-metadata-appassembler.xml
target/repo/org/apache/tomcat/embed/tomcat-embed-jasper/maven-metadata-appassembler.xml
target/repo/org/apache/tomcat/embed/tomcat-embed-logging-juli/maven-metadata-appassembler.xml
target/repo/org/apache/tomcat/tomcat-api/maven-metadata-appassembler.xml
target/repo/org/apache/tomcat/tomcat-el-api/maven-metadata-appassembler.xml
target/repo/org/apache/tomcat/tomcat-jasper-el/maven-metadata-appassembler.xml
target/repo/org/apache/tomcat/tomcat-jasper/maven-metadata-appassembler.xml
target/repo/org/apache/tomcat/tomcat-jsp-api/maven-metadata-appassembler.xml
target/repo/org/apache/tomcat/tomcat-juli/maven-metadata-appassembler.xml
target/repo/org/apache/tomcat/tomcat-servlet-api/maven-metadata-appassembler.xml
target/repo/org/apache/tomcat/tomcat-util/maven-metadata-appassembler.xml
target/repo/org/eclipse/jdt/core/compiler/ecj/maven-metadata-appassembler.xml