html,
body {
    width: 100%;
    height: 100%;
}

body {
    /*font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;*/
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}

hr {
    max-width: 50px;
    border-color: #ee4054;
    border-width: 3px;
}

hr.grey {
    max-width: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

hr.light {
    border-color: #fff;
}

a {
    color: #ee4054;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; 
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.primary{
    color: #eb123a;
}

.bg-primary {
    background-color: #ee4054;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}


aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}


.navbar-nav li span{
    cursor: default;
    position: relative;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    /* font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; */
    color:#ee4054;
}

.navbar-nav i {
 color:#ee4054 !important;
} 

.navbar {
  border: none;
}

.navbar-default, .navbar-primary {
    border-color: rgba(34,34,34,.05);
    /* font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; */
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

@media(max-width:768px) {
    .navbar-default, .navbar-primary {
      border-bottom: 3px solid #de142b;
  }

  .modal-job-details{
   padding-right: 0px;
   padding-left: 0px;
}

.modal-job-calendar{
    margin-top: 40px;
}
}

.navbar-default .navbar-toggle, .navbar-primary .navbar-toggle{
  border-color: #ee4054 !important;
  background-color: #ee4054 !important;
}

.navbar-default .navbar-toggle:hover, .navbar-primary .navbar-toggle:hover {
  border-color: #eb123a !important;
  background-color: #eb123a !important;
}

.navbar-default .navbar-toggle .icon-bar, .navbar-primary .navbar-toggle .icon-bar {
  background-color: #fff;
}


.navbar-default .navbar-header .navbar-brand, .navbar-primary .navbar-header .navbar-brand {
    text-transform: uppercase;
    /* font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; */
    font-weight: 900;
    color: #ee4054;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus,
.navbar-primary .navbar-header .navbar-brand:hover,
.navbar-primary .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li> button, .navbar-primary .nav > li> button{
  position: relative;
  display: block;
  margin: 10px;
}

.navbar-primary .navbar-collapse, .navbar-primary .navbar-form {
  border-color: #e7e7e7;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus,
.navbar-primary .nav > li>a,
.navbar-primary .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover,
.navbar-primary .nav > li>a:hover,
.navbar-primary .nav>li>a:focus:hover {
    color: #ee4054;
    background-color: transparent;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus,
.navbar-primary .nav > li.active>a,
.navbar-primary .nav>li.active>a:focus  {
    color: #ee4054!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover,
.navbar-primary .nav > li.active>a:hover,
.navbar-primary .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-nav li span{
        color:#fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
        border-bottom: 3px solid #de142b;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #ee4054;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #ee4054;
    }

    .navbar-default.affix .nav > li> span{
        color:#ee4054;
    }

}

.job-search{
  padding: 20px;
  border-bottom: solid 1px #979797;
  -moz-box-shadow: 0 2px 2px -2px #555;
  -webkit-box-shadow: 0 2px 2px -2px #555;
  box-shadow: 0 2px 2px -2px #555;
  background: #f7f7f7;
}

#searchForm{
  margin: 0 auto;
  max-width: 700px;
}

.search-label{
    margin-top:20px;
    margin-bottom:12px;
}

.search-label span{
  text-transform: uppercase;
  font-weight: 600;
}

.job-entry{
  min-height: 20px;
  height:200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 16px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.job-entry:hover{
    box-shadow: inset 0 0px 1px rgba(235,18,58,1.0);
    border: 1px solid rgba(235,18,58,1.0);
    cursor:default;
}

.job-entry-price{
    font-size:20px;
    padding-top:15px;
    padding-right: 15px;
    margin-left:-26px;
}

.job-entry-apply{
    padding-top:8px;
    padding-bottom:8px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    min-height: 48px;
}

.job-entry-apply:hover{
    background-color: #ee4054;   
    cursor: pointer;
}

.job-entry-edit:hover{
    background-color: #f0ad4e !important;    
}

.job-edit:hover{
    box-shadow: inset 0 0px 1px rgba(240,173,78, 0.8);;
    border: 1px solid rgba(240,173,78, 0.8);
    cursor:default;
}

.job-edit-color{
    color: #eea236 !important;
}

.job-entry-desc {
    height:150px;
}

.list-inline {
  padding-left: 0;
  margin-left: 0px;
  list-style: none;
}

@media(max-width:535px) {
    .header-content-btn #btnwork{
        margin-top: 20px;
    }

    .header-content-btn #btnjob{
        margin-top: 10px;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header2.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.main{
    min-height: 100%; 
    background-color: #ac1d39; 
    background-image:none;
}

header .header-content, header .header-full-content {
    position: relative;
    width: 100%;
    padding: 60px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    /*margin-top: 0;
    margin-bottom: 0;*/
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }
}

@media(min-width:768px) {
    header {
        min-height: 35%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    .content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

label{
    color:#4c4c4c;
}

.panel {
  margin: 20px 0px;
  padding:10px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    /* font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; */
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #ee4054;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #b2b2b2;
    background-color: #dedede;
    color: #222;
    /*border-color: #fff;
    background-color: #fff;*/
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #b2b2b2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #ee4054;
    color: #fff;
    background-color: #ee4054;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #eb123a;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #de142b;
    background-color: #ee4054;
}

.btn-primary .badge {
    color: #ee4054;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    /* font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; */
    font-weight: 900;
}

.btn-srad {
    border-radius: 4px;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
   border-top: none;
}

.cursor-pointer{
    cursor: pointer;
}

.whitelink, 
.whitelink:hover{
    color: #FFF;
    text-decoration: none;
}

.detailIcons{
    border-radius: 300px;
    padding: 8px;
    width: 30px;
    text-align: center;
    background-color: #ee4054;
}

#calendar{
 margin-top: 10px;
 margin-bottom: 10px;
}

.fc h2 {
   font-size: 20px;
}

.fc-today {
    background: none !important;
}

.panel>.panel-collapse>.table, .panel>.table, .panel>.table-responsive>.table {
    margin-bottom: inherit;
}


.db-user-info{
    color:#000;
    text-align: left;
    margin-top:5px;
    margin-bottom: 15px;
}

.db-user-pic {
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  width:120px;
}

.db-default-badge{
 display: inline-block;
 border-radius: 300px;
 text-transform: uppercase;
 /* font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; */
 font-weight: 700;
 padding: 9px 12px;
 font-size: 14px;
 width: 150px;
 cursor: default;
}

.db-job-table a, .btn-hire, .db-job-table input, .db-job-table button{
    width: 150px;
}

.db-job-table .open-job-modal{
    cursor: hand;
    cursor: pointer;
}

.db-rating-table {
    font-size: 10pt;
}

.positive {
    background-color: #7AF5F5;
}

.negative {
    background-color: #FA6684;
}

.neutral {
    background-color: whitesmoke;
}

.payment-mode button, .payment-mode input{
    margin:5px;
    margin-top: 20px;
    width: 150px;
}

.alert{
 margin-bottom: 0;
 text-align: center;   
}

.password_length_error {
    color: #ee4054;
    text-align: center;
    margin-top: 8px;
}

.profile_error {
    color: #ee4054;
    text-align: center;
    margin-top: 8px;
}

.success{
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.complete{
    background-color: #E4007C;
    border-color: #FF007F;
}

.offered{
    background-color: #736AFF;
    border-color: #C3BAFF;
}

.profile-div{
    margin-top: 40px;
}

.profile-div .panel{
 padding: 0px;
}

.profile-div img{
    margin-bottom:10px;
}

.cursorpointer{
    cursor: pointer;
}

#modalSalary{
    font-weight: 700;
    color: #ee4054;
    margin-top: 8px;
    margin-bottom:20px;
}

.fc h2 {
    font-size: 20px;
    font-weight: 700;
    color: #ee4054;
}

.register-icon-emp:hover{
 content: url('../img/register-emp-selected.png');
}

.register-icon-js:hover{
 content: url('../img/register-js-selected.png');
}


.register-icon:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}

.register-icon{
    border-radius: 300px;          
    transition: transform .5s,box-shadow .5s;
}

.grey{
    color: rgb(51, 51, 51);
}

.job-entry-desc h4{
    text-transform: capitalize;
    padding-top: 10px;
}

.job-entry-desc h5{
    text-transform: capitalize;
}

.font-normal{
    text-transform: none !important;
}

.btnnohover:hover{
    border-color: transparent;
    color: #fff;
    background-color: transparent;  
}

*:focus {
    outline: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.heroimg{
    padding-top:30px;
    padding-bottom:10px;
    margin: 0 auto;
    opacity: 0.9;
}

.display-inline{
    display: inline !important;
}


.text-dark{
    color:#4c4c4c;
}

.modal-job-calendar h6{
    margin-bottom:20px;
}

.hireddiv{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    text-align: center;
}

.label-apply{
    background-color: #FF6600;
}

.label-hire{
    background-color: #028482;
}

.fc-content{
    font-size: 80%;
}

/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
}
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
}
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
}
}

/* vertical alignment styles */

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

.sortlink a{
    margin-left:10px;
    font-weight: 600;
    width:100px;
}

.sortlink a:hover{
    color: #eb123a;
    font-weight: 800;
    text-decoration: none;
}

.login-logo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-logo h3{
    margin-top:14px;
    margin-bottom:30px;
}

.login-logo img{
    opacity: 0.8;
}

.ratings_info{
    margin-bottom: 10px;
}

.listing_ratings{
    height: 20px;
}

.ratings_icon {
    height: 20px;
}

.ratings_icon_selected{
    background: yellow;
}

.ratings_icon:hover {
    cursor: pointer;
    background: yellow;
}

.hidden{
    display: none;
}

#modal_date_splitter{
    margin-left: 10px;
    margin-right: 10px;
}

.search_cross_on_focus{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
    border-top: 1px solid #66afe9;
    border-bottom: 1px solid #66afe9;
    border-right: 1px solid #ccc;
    border-left: none;
}

.search_cross_off_focus{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.calculated_search_text{
    border-right-style: none;
    width: calc(100% - 39px);
}

#notification_li {
    position:relative;
}
#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 50px;
    margin-left: -130px;
    width: 400px;
    z-index: -1;
    display: none;
}
#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent #ee4054;
    margin-top: -20px;
    margin-left: 188px;
}
#notificationTitle {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    text-transform: uppercase;
}
#notificationsBody {
    /*padding: 10px 0px 0px 0px !important;  */
    min-height:300px;
}
#notificationFooter {
    background-color: #ee4054;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}
#notificationFooter a{
    color:white;
    text-transform: uppercase;
}
#notification_count {
    padding: 2px 8px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 115px;
    border-radius: 9px;
    position: absolute;
    margin-top: 5px;
    font-size: 11px;
}

.notification_content{
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    height: 50px;
}

.notification_content_profile{
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    width: 40px;
    border-radius: 50%;
}

@media (min-width: 992px){
    .modal-lg {
        width: 80% !important;
    }
}