<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    
    <servlet>
        <servlet-name>GetAllPostsServlet</servlet-name>
        <servlet-class>servlet.GetAllPostsServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>CreatePostServlet</servlet-name>
        <servlet-class>servlet.CreatePostServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>RegisterAccountServlet</servlet-name>
        <servlet-class>servlet.RegisterAccountServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>FacebookLoginServlet</servlet-name>
        <servlet-class>servlet.FacebookLoginServlet</servlet-class>
        <init-param>
            <param-name>facebookAppID</param-name>
            <param-value>879787135436221</param-value>
            <load-on-startup>1</load-on-startup>
        </init-param>
        <init-param>
            <param-name>facebookAppSecret</param-name>
            <param-value>3d9e32b868319f0066f7f2958af45f80</param-value>
            <load-on-startup>1</load-on-startup>
        </init-param>
        <init-param>
            <param-name>staging-facebookAppID</param-name>
            <param-value>908772012537733</param-value>
            <load-on-startup>1</load-on-startup>
        </init-param>
        <init-param>
            <param-name>staging-facebookAppSecret</param-name>
            <param-value>c102fef8db00757b6c80026b4df03451</param-value>
            <load-on-startup>1</load-on-startup>
        </init-param>
    </servlet>
    <servlet>  
        <servlet-name>UpdateUserProfileServlet</servlet-name>
        <servlet-class>servlet.UpdateUserProfileServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>GetAllListedJobsServlet</servlet-name>
        <servlet-class>servlet.GetAllListedJobsServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>ApplyJobServlet</servlet-name>
        <servlet-class>servlet.ApplyJobServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>GetPostServlet</servlet-name>
        <servlet-class>servlet.GetPostServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>EditPostServlet</servlet-name>
        <servlet-class>servlet.EditPostServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>GetJobApplicantsServlet</servlet-name>
        <servlet-class>servlet.GetJobApplicantsServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>HireUserServlet</servlet-name>
        <servlet-class>servlet.HireUserServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>GetSingleHiredServlet</servlet-name>
        <servlet-class>servlet.GetSingleHiredServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>GetAppliedJobsServlet</servlet-name>
        <servlet-class>servlet.GetAppliedJobsServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>WithdrawJobApplicationServlet</servlet-name>
        <servlet-class>servlet.WithdrawJobApplicationServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>servlet.DeletePostServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>StoreSessionVariableServlet</servlet-name>
        <servlet-class>servlet.StoreSessionVariableServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>OfferJobServlet</servlet-name>
        <servlet-class>servlet.OfferJobServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>WithdrawOfferServlet</servlet-name>
        <servlet-class>servlet.WithdrawOfferServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>AcceptJobOfferServlet</servlet-name>
        <servlet-class>servlet.AcceptJobOfferServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>CompleteJobServlet</servlet-name>
        <servlet-class>servlet.CompleteJobServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>RateUserServlet</servlet-name>
        <servlet-class>servlet.RateUserServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>CompleteProfileServlet</servlet-name>
        <servlet-class>servlet.CompleteProfileServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>GetCompletedApplicantsServlet</servlet-name>
        <servlet-class>servlet.GetCompletedApplicantsServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>OfferAllJobServlet</servlet-name>
        <servlet-class>servlet.OfferAllJobServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>SearchPostServlet</servlet-name>
        <servlet-class>servlet.SearchPostServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>CheckJobDateClashServlet</servlet-name>
        <servlet-class>servlet.CheckJobDateClashServlet</servlet-class>
    </servlet>
    <servlet>  
        <servlet-name>CheckJobAppliedServlet</servlet-name>
        <servlet-class>servlet.CheckJobAppliedServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAllPostsServlet</servlet-name>
        <url-pattern>/GetAllPostsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePostServlet</servlet-name>
        <url-pattern>/CreatePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccountServlet</servlet-name>
        <url-pattern>/RegisterAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookLoginServlet</servlet-name>
        <url-pattern>/FacebookLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfileServlet</servlet-name>
        <url-pattern>/UpdateUserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllListedJobsServlet</servlet-name>
        <url-pattern>/GetAllListedJobsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyJobServlet</servlet-name>
        <url-pattern>/ApplyJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPostServlet</servlet-name>
        <url-pattern>/GetPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostServlet</servlet-name>
        <url-pattern>/EditPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetJobApplicantsServlet</servlet-name>
        <url-pattern>/GetJobApplicantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HireUserServlet</servlet-name>
        <url-pattern>/HireUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSingleHiredServlet</servlet-name>
        <url-pattern>/GetSingleHiredServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAppliedJobsServlet</servlet-name>
        <url-pattern>/GetAppliedJobsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawJobApplicationServlet</servlet-name>
        <url-pattern>/WithdrawJobApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/DeletePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreSessionVariableServlet</servlet-name>
        <url-pattern>/StoreSessionVariableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfferJobServlet</servlet-name>
        <url-pattern>/OfferJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawOfferServlet</servlet-name>
        <url-pattern>/WithdrawOfferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptJobOfferServlet</servlet-name>
        <url-pattern>/AcceptJobOfferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteJobServlet</servlet-name>
        <url-pattern>/CompleteJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateUserServlet</servlet-name>
        <url-pattern>/RateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteProfileServlet</servlet-name>
        <url-pattern>/CompleteProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCompletedApplicantsServlet</servlet-name>
        <url-pattern>/GetCompletedApplicantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfferAllJobServlet</servlet-name>
        <url-pattern>/OfferAllJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPostServlet</servlet-name>
        <url-pattern>/SearchPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckJobDateClashServlet</servlet-name>
        <url-pattern>/CheckJobDateClashServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckJobAppliedServlet</servlet-name>
        <url-pattern>/CheckJobAppliedServlet</url-pattern>
    </servlet-mapping>
</web-app>    