<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <servlet>
    <servlet-name>GetAllPostsServlet</servlet-name>
    <servlet-class>servlet.GetAllPostsServlet</servlet-class>
  </servlet>
  <servlet>  
    <servlet-name>CreatePostServlet</servlet-name>
    <servlet-class>servlet.CreatePostServlet</servlet-class>
  </servlet>
  <servlet>  
    <servlet-name>RegisterAccountServlet</servlet-name>
    <servlet-class>servlet.RegisterAccountServlet</servlet-class>
  </servlet>
  <servlet>  
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>  
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>  
    <servlet-name>FacebookLoginServlet</servlet-name>
    <servlet-class>servlet.FacebookLoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetAllPostsServlet</servlet-name>
    <url-pattern>/GetAllPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreatePostServlet</servlet-name>
    <url-pattern>/CreatePostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterAccountServlet</servlet-name>
    <url-pattern>/RegisterAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacebookLoginServlet</servlet-name>
    <url-pattern>/FacebookLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>    